.home-container {
  height: 100vh;
  overflow: hidden;
}

.img-home {
  background-image: url("./home-background.png");
  background-position: bottom;
  background-position-x: 70%;
  background-position-y: 125%;
  background-size: 55%;
  background-repeat: no-repeat;
  position: relative;
}

.img-home:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-background-transparent);
}

.welcome-text {
  position: relative;
  left: 10%;
  top: 15%;
  color: var(--color-white);
}

.welcome-text h1 {
  font-family: "Zen Antique Soft", serif;
  font-size: 4.2rem;
}

.welcome-text h3 {
  font-size: 1.8rem;
  color: var(--red-details);
}

@media screen and (max-width: 375px) {
  .welcome-text {
    left: 5%;
    top: -4%;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .welcome-text h3 {
    font-size: 0.98rem;
  }
  .img-home {
    background-position-x: 80%;
    background-position-y: 102%;
    background-size: 665px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .welcome-text {
    left: 5%;
    top: -17%;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .welcome-text h3 {
    font-size: 0.98rem;
  }
  .img-home {
    background-position-x: 80%;
    background-position-y: 102%;
    background-size: 665px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .welcome-text {
    left: 5%;
    top: -11%;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .welcome-text h3 {
    font-size: 0.98rem;
  }
  .img-home {
    background-position-y: 102%;
    background-size: 675px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .welcome-text {
    left: 5%;
    top: -13%;
  }

  .welcome-text h1 {
    font-size: 2.5rem;
  }

  .welcome-text h3 {
    font-size: 1.5rem;
  }
  .img-home {
    background-position-y: 105%;
    background-size: 675px;
  }
}
